body {
    font-family: brandonregular,Arial,sans-serif;

    h1 {
        font-size: 3em;
        padding: .2em 0 0  0;
        margin-bottom: 1.2em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 760px) {
        h2.page {
            font-size: 1.2em;
        }
    }

    @media screen and (min-width: 761px) {
        h2.page {
            font-size: 2em;
        }
    }

}