.tagsWrapper {
    margin-left: 1em;

    h3 {
        margin-bottom: 1em;
        font-style: italic;
    }

    ul.tags {

        li {
            display: inline-block;
            margin-right: 2em;
            margin-bottom: 2em;
            font-size: 1.2em;
            background-color: lighten($blacklogo, 60%);
            color: lighten($blacklogo, 20%);
            padding: 0 1em;

            @media #{$max-md} {
                margin-bottom: 1em;
                margin-right: 0.6em;
                padding: 0 .4em;
            }

            &.all {
                font-size: 1.4em;
                background-color: $blacklogo;
                color: $white;
            }
        }
    }
}
